/.idea/
/__pycache__/
/debugging/
"/Images/Animations/1080p 200dt longer.mp4"
"/Images/Animations/1080p 20dt.mp4"
Images/Animations/1080p 20dt.mp4
/Images/Animations/1080p 20dt.mp4
/Images/Animations/1080p\ 20dt.mp4
